html {
    margin: 0;
}

* {
    margin: 10px 0 10px 0;
}

body {
    background-color: #fff;
    font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
}

p {
    font-style: italic;
    font-size: 0.75em;
    font-weight: 100;
}

h1 {
    color: #FFDF5D;
    font-size: 2em;
    margin: 0;
}

h2 {
    background-color: #982B8D;
    color: white;
    font-size: 1.15em;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0.63em 0.94em;
    margin: 0 0 0.63em 0;
}

h3 {
    font-size: 1.25em;
    font-weight: 700;
}

h4 {
    margin: 1em 0 0 0;
    font-size: 1.3em;
    font-weight: 100;
}

h5 {}

i {
    color: #982B8D
}

header {
    width: 100%;
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #a6c4c4;
    position: fixed;
    top: 0;
    z-index: 3;
    margin: 0;
}

header img {
    margin: 0 auto;
    position: fixed;
    padding-top: 14px;
    text-align: center;
    top: 0;
    z-index: 4;
    left: 50%;
    margin-left: -30px;
    height: 4.5em;
}

header div {
    float: right;
    margin: 6px 1em 0 1em;
}

header div > i {
    padding: 0 0.5em;
    margin-bottom: 0;

}

button {
    background: #fff;
    border: none;
    color: #982B8D
}


main {
    padding: 1em
}

main > img {
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 15em;
}

section:first-of-type {
    color: white;
    margin: auto;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    width: 50%;
    text-align: center;
}

.filter {
    background-color: #fbfbfb;
    box-shadow: 0.3em 0.3em #f2f2f2;
    margin: 1em;
    padding: 0.5em;
    border: 0.06 solid gainsboro;
    visibility: hidden;
    height: 0em;
    transition: 0.3s;
}

.zichtbaar {
    visibility: visible;
    height: 36em;
}

.filter p {
    color: #982B8D;
    font-size: 0.63em;
    font-weight: 700;
    margin-left: 1em;
    text-transform: uppercase;
}

select {
    background-color: #fff;
    border-color: gainsboro;
    color: #303030;
    font-size: 0.85em;
    font-weight: inherit;
    height: 3.2em;
    width: 100%;
}

input[type=submit] {
    background-color: gray;
    color: #fff;
    border-radius: 3px;
    margin-top: 0.63em;
    padding: 8px 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

form:valid input[type=submit] {
    background: #982B8D;
    color: #fff;
}

/*verhalen van de dag*/

section:nth-child(5) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

section:nth-child(5) a {
    background-color: #FFDF5D;
    padding: 15px;
    color: #000;
    text-decoration: none;
    margin: 0;
}

section:nth-child(5) > article {
    height: 8.5em;
}

section:nth-child(5) > article:hover {
    border: 5px solid #971f81;
}

/*99verhalen*/

div > a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

section:last-of-type div {
    display: grid;
    grid-template-columns: 1fr;
}

section:last-of-type h5 {
    display: inline-block;
}


section:last-of-type article {
    border: 1px solid #a7c4c4;
    position: relative;
    height: 20em;
}

section:last-of-type article div {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section:last-of-type footer {
    position: absolute;
    right: 2em;
    top: 11em;
    border-bottom: 5px solid #FFDF5D;
}

section:last-of-type footer p {
    margin: 5px
}

article img {
    width: 100%;
    height: 10em;
    object-fit: cover;
}

/*footer*/

body > footer {
    background-color: #F7F1EB;
    padding: 1em 1em;
    text-align: center;
}

footer a {
    color: #99258d;
    text-decoration: none;
    font-size: 14px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 11px;
}

footer li {
    display: inline-block;
    margin: 0 10px;
}

footer i {
    color: #d0c9c2;
}

footer img {
    width: 300px;
    margin: 2em 0;
}



@media(min-width:47.5em) {
    section:nth-child(5) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }

    section:last-of-type div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
}

@media(min-width: 48em) {

    button {
        display: none;
    }
    .filter {
        background-color: #fbfbfb;
        box-shadow: 0.3em 0.3em #f2f2f2;
        margin: 1em;
        padding: 0.5em;
        border: 0.06 solid gainsboro;
        visibility: visible;
        height: 33em;
        transition: 0.3s;
    }

}





@media(min-width: 36em) {
    p {
        font-size: 1em;
    }

    h1 {
        font-size: 3em;
    }

    section:first-of-type {
        font-style: normal;
        color: white;
        margin: auto;
        position: absolute;
        top: 15%;
        left: 0;
        right: 0;
        width: 50%;
        text-align: center;
    }
}

@media(min-width: 61.25em) {
    body {
        border: solid 8px #99258d;
    }
    section:first-of-type p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 4em;
    }
    section:last-of-type div {
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
    }

    .filter {
        position: absolute;
        float: left;
        left: 1em;
        top: 5em;
        width: 27em;
        z-index: 2;
        height: 31.25em;
    }

    main > img {
        max-height: 32em;
        margin-bottom: 5em;
    }

    form {
        margin: 0;
    }

    section:first-of-type {
        font-style: normal;
        color: white;
        margin: auto;
        position: absolute;
        top: 30%;
        left: 455px;
        width: 40%;
        text-align: center;
    }
}
